* {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
.section-title {
	color: #181818;
	font-weight: 700;
	font-size: 35px;
	text-align: center;
	margin-bottom: 30px;
}
.section-description {
	color: #757575;
	font-size: 18px;
	text-align: center;
	line-height: 30px;
	margin-bottom: 30px;
}

/* Header & Navigation Styles */

.nav-title {
	font-weight: 800;
	font-size: 45px;
}
.text-primary {
	color: #fd6e0a;
}
nav {
	display: flex;
	justify-content: space-between;
	padding: 50px 150px;
}
nav li {
	list-style: none;
	padding-right: 50px;
}
nav ul {
	display: flex;
	align-items: center;
}
.btn-primary {
	font-weight: 700;
	font-size: 20px;
	color: white;
	background: #fd6e0a;
	padding: 18px 35px;
	border-radius: 5px;
	border: none;
}

/* Banner Styles */
.header {
	background: #fff8f3;
	background-image: url(../images/header_bg.png), url(../images/developer.png);
	background-repeat: no-repeat;
	background-position: bottom right, left;
}
.banner {
	display: flex;
}
.banner-text {
	margin-left: 150px;
	margin-top: 120px;
}
.banner-subtitle {
	font-weight: 600;
	font-size: 45px;
	color: #474747;
	margin-bottom: 5px;
}
.banner-title {
	font-weight: 700;
	font-size: 85px;
	color: #181818;
	margin-bottom: 20px;
}
.banner-description {
	font-size: 18px;
	color: #757575;
	margin-bottom: 30px;
}
.author-image {
	margin-left: 70px;
}

main {
	max-width: 1140px;
	margin: 0 auto;
}

/* About Me Section */
.about-me {
	background: #fff8f3;
	border-radius: 10px;
	margin-top: 130px;
	padding: 155px 130px;
	margin-bottom: 120px;
}
.info {
	text-align: center;
	width: 100%;
}
.info-name {
	color: #757575;
	font-size: 20px;
}
.info-details {
	color: #474747;
	font-weight: 700;
	font-size: 20px;
}

/* What I do Section */
.skills-container {
	display: flex;
	gap: 24px;
	margin-top: 50px;
	margin-bottom: 130px;
}
.skill-name {
	background: #ffffff;
	box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
	border-radius: 5px;
	padding: 30px;
}
.skill-title {
	color: #181818;
	font-weight: 700;
	font-size: 20px;
	margin-top: 30px;
	margin-bottom: 20px;
}
.skill-description {
	color: #757575;
	line-height: 28px;
}

/* Resume Details */
.resume-section {
	display: flex;
    margin-top: 130px;
    gap: 24px;
}
hr.line{
    margin-top: 30px;
    border-top: 1px solid #D1D1D1;
}
.resume-title {
	color: #474747;
	font-weight: 700;
	font-size: 30px;
    margin-bottom: 30px;
}
.education-title {
	font-weight: 700;
	font-size: 25px;
	line-height: 34px;
    margin-bottom: 10px;
}
.education-ins {
	font-weight: 600;
	font-size: 20px;
	color: #757575;
    margin-bottom: 20px;
}
.education-description {
	color: #757575;
    line-height: 28px;
}
.education{
    padding-bottom: 30px;
    margin-right: 30px;
}
.education p{
    text-align: left;
}
.resume-btn{
    margin-top: 50px;
    text-align: center;
}